#SVGLogo{
    width:rem(312.438);
    height: rem(38.652);
}
#SVGLogin{
    width:rem(11.275);
    height: rem(16.107);
}
#SVGSignUp{
    width: rem(13.959);
    height: rem(16.107);
}
#SVGArrowDown{
    width: rem(16.414);
    height: rem(9.361);
}
#SVGSearchMagnifine{
    width: rem(22.52);
    height: rem(22.52);
}
#SVGArrowLeftCarousel{
    width: rem(13.607);
    height: rem(25.682);
}
#SVGArrowRightCarousel{
    width: rem(13.607);
    height: rem(25.682);
}
#SVGArrowLeftSilck{
    width: rem(25.122);
    height: rem(47.414);
}
#SVGArrowRightSilck{
    width: rem(25.122);
    height: rem(47.414);
}
#SVGMalwareAttacks{
    width: rem(62.343);
    height: rem(69.01);
}
#SVGNetworkSecurity{
    width: rem(69.08);
    height: rem(69.01);
}
#SVGRiskManagement{
    width: rem(74);
    height: rem(63.429);
}
#SVGPenetrationTesting{
    width: rem(61.866);
    height: rem(69.01);
}
#SVGFooterLogo{
    width: rem(199.244);
    height: rem(127.939);
}
#SVGLogo2{
    width: rem(96.578);
    height: rem(57.72);
}
#SVGWidgetLogo{
    width: rem(245.243);
    height: rem(148.48);
}
#FormIconUser{
    width: rem(18.151);
    height: rem(20.944);
}
#FormIconNames{
    width: rem(19.916);
    height: rem(19.916);
}
#FormIconEmail{
    width: rem(25.519);
    height: rem(18.228);
}
#FormIconPassword{
    width: rem(21.809);
    height: rem(10.905);
}

#SVGLocation{
    width: rem(20px);
    height: auto;

    path{
        fill: inherit;
    }
}